  .table-container {
    margin: auto;
    position: relative;
    padding: 20px;
    background-color: #ADD8E6;
    border-radius: 10px;
    height: 50vh;
    width: 50vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
  
  .cell {
    border: 3px solid #000000;
    height: 15vh;
    width: 15vh;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
  }
  
  .table-tictactoe {
    border-collapse: collapse;
    position: relative;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  table tr:first-child td {
    border-top: 0;
  }
  
  table tr:last-child td {
    border-bottom: 0;
  }
  
  table tr td:first-child {
    border-left: 0;
  }
  
  table tr td:last-child {
    border-right: 0;
  }